<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TOSCAContinuousIntegration.TOSCACIExecution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="TOSCAContinuousIntegration.TOSCACIRemoteExecutionService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="system.serviceModel" type="System.ServiceModel.Configuration.ServiceModelSectionGroup, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <userSettings>
    <TOSCAContinuousIntegration.TOSCACIExecution.Properties.Settings>
      <setting name="MaxWaitForCheckout" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="WorkspacePath" serializeAs="String">
        <value>C:/TOSCA_PROJECTS/TOSCA_Workspaces/AgentWS/AgentWS.tws</value>
      </setting>
      <setting name="LoginName" serializeAs="String">
        <value>API</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="TimestampFormat" serializeAs="String">
        <value> yyMMdd HHmm</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>12</value>
      </setting>
    </TOSCAContinuousIntegration.TOSCACIExecution.Properties.Settings>
    <TOSCAContinuousIntegration.TOSCACIRemoteExecutionService.Properties.Settings>
      <setting name="AuthenticationUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthenticationPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="HashingAlgorithm" serializeAs="String">
        <value>SHA256</value>
      </setting>
    </TOSCAContinuousIntegration.TOSCACIRemoteExecutionService.Properties.Settings>
  
</userSettings>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date  - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="TOSCACIRemoteExecutionService_cl-wian-8.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.serviceModel>  
    <services>
  <service name="TOSCAContinuousIntegration.TOSCACIRemoteExecutionService.Service.RemoteExecutionService" behaviorConfiguration="SimpleServiceBehavior">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="TOSCAContinuousIntegration.TOSCACIRemoteExecutionService.Service.IRemoteExecutionService">
    </endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8732/TOSCARemoteExecutionService" />
        </baseAddresses>
      </host>
    </service>
    </services>  
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" receiveTimeout="infinite" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
           <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </clientCertificate>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
            <serviceDebug
            httpHelpPageEnabled="true"
            includeExceptionDetailInFaults="true"
          />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.20.0" newVersion="4.3.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>